@charset "utf-8";

header {
    width: 100%;
    min-width: 1000px;
    height: 80px;
    overflow: hidden;
}

div[role="main"] {
    width: 1000px;
    margin: 10px auto;
    padding: 10px;
    overflow: hidden;
}

footer {
    text-align: right;
}

body {
    background-color: #c5e8f7;
}

h1, h2 {
    padding: 5px 400px 10px 10px;
}

header {
    background-image:
        url(../img/hsb_logo.png),
        url(../img/header_bg.png);
    background-position: top right, top left;
    background-repeat: no-repeat, repeat-x;
    background-color: #c5e8f7;
}

/* TODO Why don't we use CSS3 borders? Far less overhead. */
div[role="main"] {
    background-image:
        url(../img/corner_tl.png),
        url(../img/corner_tr.png),
        url(../img/corner_br.png),
        url(../img/corner_bl.png),
        url(../img/tr_bg.png);
    background-position:
       top left, top right, bottom right, bottom left, top left;
    background-repeat:
        no-repeat, no-repeat, no-repeat, no-repeat, repeat;
}

table {
    background-color: #fff;
    border-radius: 10px;
    border-spacing: 0;
    box-shadow: 0 0 3px 1px #4fc4fc;
    text-align: center;
    vertical-align: central;
}

td {
    background-color: #c5e8f7;
    width: 30px;
    height: 30px;
    padding: 0px;
    border-width: 1px;
    border-style: solid;
    border-color: #fff;
}

td.topRow, td.leftColumn {
    font-weight: bold;
    background-color: #4fc4fc;
}

td.bottomLeftCell {
    border-bottom-left-radius: 10px;
}

td.topLeftCell {
    border-top-left-radius: 10px;
}

td.topRightCell {
    border-top-right-radius: 10px;
}

/* TODO Does not work, the CSS class is correct, but the background color is not set. */
td.bottomRightCell {
    background-color: #c5e8f7;
    border-bottom-right-radius: 10px;
}

td.valueHidden {
    visibility: hidden;
}

td.valueShown {
    visibility: visible;
}
