@charset "utf-8";
/**
 * style.css
 *
 * This program is free software: you can redistribute it and/or modify it under
 * the terms of the GNU Lesser General Public License as published by the Free
 * Software Foundation, either version 3 of the License, or (at your option) any
 * later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
 * FOR A PARTICULAR PURPOSE.  See the GNU Lesser General Public License for more
 * details.
 *
 * You should have received a copy of the GNU Lesser General Public License
 * along with this program.  If not, see http://gnu.org/licenses/lgpl.txt.
 *
 * @project      A simple web application demonstrating sequence alignment.
 * @version      0.1.0
 * @package      xhtml-css
 * @author       Olav Hoffmann <olavhoffmann@gmail.com>
 * @author       Florian Wolters <wolters.fl@gmail.com>
 * @copyright    2012 Olav Hoffmann, Florian Wolters
 * @cssdoc       version 1.0-pre
 * @license      http://gnu.org/licenses/lgpl.txt LGPL-3.0+
 * @media        all
 * @valid        true
 */

/* TODO Adjust size of content (output should be larger). */

body {
    background-color: #c5e8f7;
    width: 100%;
    min-width: 75em;
}

header {
    position: relative;
    height: 80px;
    padding-left: 10em;
    background-image: linear-gradient(bottom, rgb(197,232,247) 50%, rgb(79,197,240) 93%);
    background-image: -o-linear-gradient(bottom, rgb(197,232,247) 50%, rgb(79,197,240) 93%);
    background-image: -moz-linear-gradient(bottom, rgb(197,232,247) 50%, rgb(79,197,240) 93%);
    background-image: -webkit-linear-gradient(bottom, rgb(197,232,247) 50%, rgb(79,197,240) 93%);
    background-image: -ms-linear-gradient(bottom, rgb(197,232,247) 50%, rgb(79,197,240) 93%);
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.5, rgb(197,232,247)),
        color-stop(0.93, rgb(79,197,240))
    );
}

header h1 {
    display: inline;
    line-height: 80px;
    color: black;
    text-shadow: #eef8fd 0.1em, 0.1em;
}


#forkme {
    position: fixed;
    top: 0;
    left: 0;
}

#logo {
    position: absolute;
    top: 0;
    right: 0;
}

div[role="main"] {
    background-color: #eef8fd;
    width: 600px;
    margin: 0.5em auto;
    border-radius: 1.5em;
    padding: 1em;
}

footer {
    text-align: center;
    font-size: 90%;
}

table {
    background-color: #fff;
    border-radius: 10px;
    border-spacing: 0;
    box-shadow: 0 0 3px 1px #4fc4fc;
    text-align: center;
    vertical-align: central;
}

td {
    background-color: #c5e8f7;
    width: 30px;
    height: 30px;
    padding: 0px;
    border-width: 1px;
    border-style: solid;
    border-color: #fff;
}

td.topRow, td.leftColumn {
    font-weight: bold;
    background-color: #4fc4fc;
}

td.bottomLeftCell {
    border-bottom-left-radius: 10px;
}

td.topLeftCell {
    border-top-left-radius: 10px;
}

td.topRightCell {
    border-top-right-radius: 10px;
}

/* TODO Does not work, the CSS class is correct, but the background color is not set. */
td.bottomRightCell {
    background-color: #c5e8f7;
    border-bottom-right-radius: 10px;
}

td.valueHidden {
    visibility: hidden;
    color: #c5e8f7;
}

td.valueShown {
    visibility: visible;
    color: #000000;
}
