@charset "UTF-8";

/* GRID LAYOUT */
header {
    width: 100%;
    min-width: 1000px;
    height: 80px;
    overflow: hidden;
}

div[role="main"] {
    width: 1000px;
    margin: 10px auto;
    padding: 10px;
    overflow: hidden;
}

div#cmatrix {
    overflow: hidden;
    padding: 10px 10px;
}

/* STYLING AND POSITIONING OF INDIVIDUAL GENERAL ELEMENTS */
body {
    background-color: #c5e8f7;
}

header {
    background-image:
        url(../img/hsb_logo.png),
        url(../img/header_bg.png);
    background-position: top right, top left;
    background-repeat: no-repeat, repeat-x;
    background-color: #c5e8f7;
}

div[role="main"] {
    background-image:
        url(../img/corner_tl.png),
        url(../img/corner_tr.png),
        url(../img/corner_br.png),
        url(../img/corner_bl.png),
        url(../img/tr_bg.png);
    background-position:
       top left, top right, bottom right, bottom left, top left;
    background-repeat:
        no-repeat, no-repeat, no-repeat, no-repeat, repeat;
}

div#cmatrix {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 3px 1px #4fc4fc;
}

table#matrix {
    background-color: #fff;
}

table#matrix td {
    width: 30px;
    height: 30px;
    border-width: 1px;
    border-style: solid;
    border-color: #fff;
    background-color: #c5e8f7;
    text-transform: uppercase;
    text-align: center;
    vertical-align: central;
    padding: 0px;
}
table#matrix td.topRow {
    font-weight: bold;
    background-color: #4fc4fc;
}

table#matrix td.leftColumn {
    font-weight: bold;
    background-color: #4fc4fc;
}

table#matrix td.topLeftCell {
    border-top-left-radius: 10px;
    font-weight: bold;
    background-color: #4fc4fc;
}
table#matrix td.topRightCell {
    border-top-right-radius: 10px;
    font-weight: bold;
    background-color: #4fc4fc;
}
table#matrix td.bottomRightCell {
    border-bottom-right-radius: 10px;
    background-color: #c5e8f7;
}
table#matrix td.bottomLeftCell {
    border-bottom-left-radius: 10px;
    font-weight: bold;
    background-color: #4fc4fc;
}
table#matrix td.valueHidden {
    visibility: hidden;
}
table#matrix td.valueShown {
    visibility: visible;
}

p#copyright {
    text-align: right;
}

/* LINK COLORS AND TREATMENT */

/* FONT TREATMENT */
header h1, h2 {
    padding: 5px 400px 10px 10px;
}
