{# error.html.twig #}
{% extends default %}

{% block header %}
    {{ code }} -
    {% if 400 == code %}
        Bad Request
    {% elseif 401 == code %}
        Unauthorized
    {% elseif 402 == code %}
        Payment Required
    {% elseif 403 == code %}
        Forbidden
    {% elseif 404 == code %}
        Not Found
    {% elseif 405 == code %}
        Method Not Allowed
    {% elseif 406 == code %}
        Not Acceptable
    {% elseif 407 == code %}
        Proxy Authentication Required
    {% elseif 408 == code %}
        Request Timeout
    {% elseif 409 == code %}
        Conflict
    {% elseif 410 == code %}
        Gone
    {% elseif 411 == code %}
        Length Required
    {% elseif 412 == code %}
        Precondition Failed
    {% elseif 413 == code %}
        Request Entity Too Large
    {% elseif 414 == code %}
        Request-URI Too Long
    {% elseif 415 == code %}
        Unsupported Media Type
    {% elseif 416 == code %}
        Requested Range Not Satisfiable
    {% elseif 417 == code %}
        Expectation Failed
    {% elseif 422 == code %}
        Unprocessable Entity
    {% elseif 423 == code %}
        Locked
    {% elseif 424 == code %}
        Failed Dependency
    {% elseif 425 == code %}
        Reserved for WebDAV advanced collections expired proposal
    {% elseif 426 == code %}
        Upgrade Required
    {% elseif 500 == code %}
        Internal Server Error
    {% elseif 501 == code %}
        Not Implemented
    {% elseif 502 == code %}
        Bad Gateway
    {% elseif 503 == code %}
        Service Unavailable
    {% elseif 504 == code %}
        Gateway Timeout
    {% elseif 505 == code %}
        HTTP Version Not Supported
    {% elseif 506 == code %}
        Variant Also Negotiates
    {% elseif 507 == code %}
        Insufficient Storage
    {% elseif 508 == code %}
        Loop Detected
    {% elseif 510 == code %}
        Not Extended
    {% else %}
        Unknown
    {% endif %}
{% endblock %}

{% block main %}
    {% if code > 399 and code < 500 %}
        Client Error - The request contains bad syntax or cannot be fulfilled
    {% elseif code > 499 and code < 600  %}
        Server Error - The server failed to fulfill an apparently valid request
    {% endif %}
    <div class="error">{{ message }}</div>
{% endblock %}
