{# form.html.twig #}
<form action="{{ path('home') }}" method="post" {{ form_enctype(form) }}>
    <fieldset>
        {{ form_widget(form) }}
        <button type="submit" class="btn">Go</button>
    </fieldset>
</form>
