{# index.html.twig #}
{% extends "default.html.twig" %}

{% block header %}
<a href="{{ config.meta.project_url }}">
    <img style="position: absolute; top: 0; left: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_left_darkblue_121621.png" alt="Fork me on GitHub" />
</a>
<h1>Calculation of a pairwise sequence alignment</h1>
{% endblock %}

{% block main %}
{% include 'form.html.twig' %}
{% endblock %}

{% block footer %}
<p>&copy; {{ config.meta.year }} {{ config.meta.author }}</p>
{% endblock %}
