{# index.html.twig #}
{% extends "index.html.twig" %}

{% block main %}

<button type="button" id="stepButton">NextStep</button>
<br/>
<br/>

<table id="matrix" border="1">
    <tr>
        <td></td>
    {% for firstChar in alignment.getFirstSequence %}
        <td>{{ firstChar }}</td>
    {% endfor %}
    </tr>
    {% for secondChar in alignment.getSecondSequence %}
    <tr>
        <td>{{ secondChar }}</td>
        {% for i in range (0, alignment.getFirstSequence|length-1) %}
            <td>;</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>

<br/>
{% endblock %}
