{# index.html.twig #}
{% extends "index.html.twig" %}

{% block main %}

<button type="button" id="stepButton">NextStep</button>
<br/>
<br/>

<table id="matrix" border="1">
    <tr>
<<<<<<< HEAD
        <td></td>
    {% for firstChar in alignment.getFirstSequence %}
=======
        <td>&nbsp;</td>
    {% for firstChar in firstSequence %}
>>>>>>> Updated controller and view to latest API.
        <td>{{ firstChar }}</td>
    {% endfor %}
    </tr>
    {% for secondChar in secondSequence %}
    <tr>
        <td>{{ secondChar }}</td>
<<<<<<< HEAD
        {% for i in range (0, alignment.getFirstSequence|length-1) %}
            <td>;</td>
=======
        {% for i in range (0, firstSequence|length-1) %}
            <td>&nbsp;</td>
>>>>>>> Updated controller and view to latest API.
        {% endfor %}
    </tr>
    {% endfor %}
</table>

<br/>
{% endblock %}
