{# index.html.twig #}
{% extends "index.html.twig" %}

{% block main %}

<button type="button" id="stepButton">NextStep</button>
<br/>
<br/>

{# Remove cellspacing and cellpadding when properly formated with css #}
<table id="matrix" border="1" cellspacing="5" cellpadding="5">
    <tr>
        <td></td>
    {% for firstChar in firstSequence %}
        <td>{{ firstChar }}</td>
    {% endfor %}
    </tr>
    {% for secondChar in secondSequence %}
    <tr>
        <td>{{ secondChar }}</td>
        {% for i in range (0, firstSequence|length-1) %}
            <td></td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>

{% endblock %}
