{# result.html.twig #}
{% extends "index.html.twig" %}

{% block main %}

<fieldset>
    <legend>Actions</legend>
    <button type="button" id="nextStep" class="btn">Next Step</button>
    <button type="button" id="nextRow" class="btn">Next Row</button>
    <button type="button" id="completeAlignment" class="btn">Show Complete Alignment</button>
    <button type="button" id="reset" class="btn">Reset</button>
</fieldset>
<br />
<div id="cmatrix">
    <table id="matrix">
        <tr>
            <td class="topLeftCell"></td>
        {% for firstChar in firstSequence %}
            {% if loop.last %}
                <td class="topRightCell">{{ firstChar }}</td>
            {% else %}
                <td class="topRow">{{ firstChar }}</td>
            {% endif %}
        {% endfor %}
        </tr>
        {% for secondChar in secondSequence %}
        <tr>
            {% if loop.last %}
                <td class="bottomLeftCell">{{ secondChar }}</td>
            {% else %}
                <td class="leftColumn">{{ secondChar }}</td>
            {% endif %}

            {% for i in range (0, firstSequence|length-1) %}
                {% if loop.last and loop.parent.loop.last %}
                    <td class="bottomRightCell"></td>
                {% else %}
                    <td></td>
                {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</div>
<br />
<form>
    <button type="button" class="btn">Back</button>
</form>

{% endblock %}
