{# substitution_matrix.html #}
<table>
{% for i in range (0, aligner.getSubstitutionMatrix.getMatrix|length - 1) %}
    <tr>
    {% for j in range (0, aligner.getSubstitutionMatrix.getMatrix[0]|length - 1) %}
        {% if 0 == i %}
            <td class="topRow">
        {% elseif 0 == j %}
            <td class="leftColumn">
        {% else %}
            <td>
        {% endif %}
                {{ aligner.getSubstitutionMatrix.getMatrix[i][j] }}
            </td>
    {% endfor %}
    </tr>
{% endfor %}
</table>
